// Definición de variables
 // para el tamaño de fuente
 $font-sizes:(
    "cuerpo": 3rem,
    "h1":150%,
    "h2": 120%,
    "h3": 110%,
    "nav ul li" : 110%,
    "footer p": 90%
  );
  // para el grosor de la fuente
  $font-weights:(
    "light": 300,
    "regular": 400,
    "bold": 700
  );
  // tipo de letra
  $font-family: 'Nunito', sans-serif;
  
  //ancho maximo de la pagina
  $ancho-maximo: 1400px;
  
  // margen por defecto
  $margin-defaul: 0;
  
  //padding por defecto
  $padding-defaul: 0;
  
  // colores
  $default-background-color: #f8f8f8;
  $default-foregraund-color: #333;
  $funchsia: #ff00ff;
  $rojos:#fc0404, #7e0808;

  
  //ahora vamos a crear variables compuestas
  $cuerpo: map-get($font-sizes , "cuerpo") map-get($font-weights, "regular") $font-family;
  
  // funciones 
  @function asignar-color($rojos){
    
    
  }