@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
/*estilos generales*/
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
    background-image: url("https://i.pinimg.com/originals/83/be/32/83be325e2d434d410339a95622877f70.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    
}
.presentacion{
    width: 50vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 10% 20px; ;
}
.titulo{
    margin-bottom: 10px;
}
.titulo h1{
    
    font-size: 10rem;
}
.subtitulo{
    margin-bottom: 10px;
    padding: 1%;
}
.img-perfil{
    width: 30vw;
    height: 55vh;
    border-radius: 10px;
    background-image: url("https://img.freepik.com/fotos-premium/astronauta-computadora-render-3-d_912214-5478.jpg?w=826");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px -50px 10px ;
    margin-top: 5vh;
    padding: 1%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-top: 5vh;
    padding: 1%;

}
.img-perfil:hover{
    border: solid 2px white;
}
body {
    display: flex;
    flex-direction: column;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header:hover{
    background:linear-gradient(45deg, #8a12ed, #6eaef8);
}
.logo{
    display: inline-block;
    margin-top: 3vh;

}
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
/*menu*/
.menu-item:hover{
    border: solid 1px white;
    border-radius: 5px;
}

main {
    flex: 1;
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px !important;
    text-align: center;
    background-color: #333;
    color: white;
  }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;

  }
  footer div img{
    width: 3vw;
    height: 3vw;
    margin: 0 0.5em;
  }
  footer p {
    font: 300 "Nunito", sans-serif;
  }
  footer p a:hover {
    text-decoration: underline;
    font-weight: 700;
  }
  
