@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;  
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header h1{
    font-size: 2em;
}
nav{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin: 0 10px;
    padding: 10px 25px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li:hover{
    color: #f1f1f1;
    background-color:blue ;
}

