body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
header{    
    color: #fff;
    text-align: center;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;

}

 video {
    position: absolute;
    width: 100%;
    height: 18rem;
    z-index: -1;
    object-fit: cover;
    opacity: 0.5;   
    }
nav{
    background-color: #03571386;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 80%;
    height: 15%;
    margin-top: .7rem;
    border-radius: .5rem;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.5rem;

}
nav a:hover{
    color: goldenrod;
}

figure{
    margin: 0;
    padding: 0;
    width: 18%;
    height: 100%;
    margin-top: .5rem;
}
figure img{
    width: 30%;
    height: auto;
    border-radius: 20%;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    
}
section{
    margin: 10px;
    padding: 10px;
}
footer{
    background-color: #57cac6;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
footer p{
    margin: 0;
    padding: 0;
}
.ubicacion{
    margin-top: 1rem;
    padding: 10px;
    width: 25%;
    height: 25%;
}