body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 50%;
}
.logo{
    display: inline-block;
}
.logo img{
    width: 100px;
}
.menu{
    background-color: #444;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav{
    display: inline-block;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
nav a:hover{
    color: #66cc77;
    border:solid 1px #66cc77;
}
main{
    margin: 20px;
}
.titulo{
    text-align: center;
    font-size: 34px;
    color: #66cc77;
}
h3{
    text-align: center;
    color:#66cc77;
}
section{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px auto;
}
#subtitulos{
    text-align: center;
}
.banner{
    background-image: url(img/banner.png);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 45%;
    height: 100%;
}
/* ARTICULO DEL CORONAGRAMA */
.articulo{
    width: 45%;
    height: 100%;
}
.articulo h2{
    color: #66cc77;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table, th, td{
    border: 1px solid #ccc;
}
th, td{
    padding: 5px;
    text-align: center;
}
th{
    background-color: #4bd462;
    color: white;
}
tr:nth-child(even){
    background-color: #f0f0f0;
}
tr:nth-child(odd){
    background-color: #f0f0f0;
}
/* FORMULARIO DE REGISTRO */

.formulario{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}
#article-registro-form{
   display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    margin: auto;
}
.section-background{
    background: linear-gradient(45deg, #9949da, #66a6ee);

}
form{
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
    padding: 2vw;
    border-radius: 5px;
    width: 35vw;
}
label{
    margin: 5px 0;
}
input{
    margin: 5px 0;
    padding: 5px;
    width: 10vw;
}
textarea{
    margin: 5px 0;
    padding: 5px;
    width: 20vw;
}
select{
    margin: 5px 0;
    padding: 5px;
    width: 10vw;
}
button{
    background-color: #4bd462;
    color: white;
    margin: auto;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;

}
button:hover{
    background-color: white;
    color: #4bd462;
}
h2{
    color: #444;
}
#ubicacion{
    background-image: url(https://static.vecteezy.com/system/resources/previews/026/827/812/non_2x/concept-of-gps-technology-background-vector.jpg);
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    width: 95vh;
    height: auto;
}
iframe{
    border: solid 1px #ccc;
}
footer{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.rss{
    margin-top: 1rem;
    padding: 2px;
    width: 20%;
    height: 25%;
}
.rs img{
    width: 3%;
    height: 3%;
    margin: 1rem;

}
.rs img:hover{
    width: 2%;
    height: 2%;
    border: solid 2px white;
    border-radius: 50%;
}