* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: block;
  width: 100%;
  height: 100%;
}
.containerHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: bisque;
}
.banner {
  width: 50%;
  height: 500px;
  background-image: url(/img/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  align-items: center;
}
.menu {
  width: 100%;
  background-color: black;
}
nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
#logo {
  border-radius: 50%;
}
#logo:hover {
  border: solid 0.9px rgb(230, 96, 96);
}

nav a {
  padding: 15px 25px;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
}
nav a:hover {
  background-color: antiquewhite;
  color: black;
}
main {
  width: 100%;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5%;
  margin: 1%;
  text-align: justify;
  align-items: center;
  background-color: antiquewhite;
}
section h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: blueviolet;
}

section h1:hover {
  color: aquamarine;
  text-shadow: 1px 1px 5px 5px green;
}
section h2 {
  text-align: center;
  margin: 5px;
}

section div {
  width: 35%;
  height: auto;
  padding: 1%;
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10%;
  box-shadow: 1px 1px 7px 7px grey;
}
section div p {
  padding: 5%;
  text-align: justify;
}

section div:hover {
  border: solid 2px yellow;
}
figure {
  width: 100%;
  height: 50%;
}
figure img {
  width: 80%;
  height: 100%;
  padding: auto;
  border-radius: 10%;
  margin: auto;
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: black;
  color: white;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 2rem;
}
footer p:hover {
  color: blue;
}

@media (max-width: 700px) {
  nav {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
  }
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    margin: 1%;
    text-align: justify;
    align-items: center;
  }

  section div {
    width: 35%;
    height: auto;
    padding: 1%;
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    box-shadow: 1px 1px 7px 7px grey;
  }
}
