.contenedor{
    display: grid;
     grid-template-columns: auto auto auto auto;
   
  }
  .contenedor2{
    display: grid;
     grid-template-columns: 50px 200px 300px 500px;
    
  }
  .contenedor3{
    display: grid;
     grid-template-columns: 1fr 2fr 1fr 3fr;
    
  }
  
  